.app {
  //стили для шрифта пересмотри можно сократить код
  //height: 100%;
  //width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  .logo-item {
    width: 190px;
    height: 60px;
  }
  h1 {
    margin-top: 92px;
    font-size: 72px;
    line-height: 75px;
    text-transform: uppercase;
    color: #162C4E;
    opacity: 0.39;
  }
  p {
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
  }
  .h1-descr {
    margin-top: 8px;
  }
  .event-descr {
    margin-top: 71px;
  }
  .event-link {
    margin-top: 12px;
    padding: 16px 20px 17px 28px;
    width: 240px;
    height: 60px;
    background: #1D4169;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    img {
      float: right;
      margin-top: 3px;
    }
  }

}
