.accordion {
  width: 688px;
  margin: 40px auto 0;
  border-radius: 3px;
  background: #f1f1f1;
}
.accordion-visible {
  margin-top: 4px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid rgba(223, 34, 36, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
}
.accordion-visible span {
  padding: 15px 0;
  font-size: 20px;
}
.accordion-visible img {
  width: 20px;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}
.accordion-visible img.active {
  transform: rotate(0deg)
}
.accordion-visible h2 {
  font-size: 20px;
}
.accordion-toggle {
  height: 0px;
  font-size: 18px;
  opacity: 0;
  transition:
          opacity 0.3s ease-in-out,
          height 0.3s 0.3s ease-in-out;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.animated {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../img/items/accordionItems/itemBG.svg");
  opacity: 1;
  transition:
          height 0.3s ease-in-out,
          opacity 0.3s 0.3s ease-in-out;
}
.item-descr {
  padding: 25px 0 0 40px;
  width: 100%;
  height: 192px;
  backdrop-filter: blur(20px);
  background: rgba(18, 18, 18, 0.8);
  .title {
    font-weight: 600;
    line-height: 22px;
    color: #FFFFFF;
    text-align: left;
    animation: none;
  }
  .title-date {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
    margin-top: 8px;
    animation: none;
  }
  .title-btn {
    width: 169px;
    height: 44px;
    border: 2px solid #FFFFFF;
    border-left: 6px solid #FFFFFF;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 29px;
  }
  .item-number {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 600;
    font-size: 152px;
    line-height: 152px;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.04);
  }
}

@media (max-width: 768px) {
  .accordion {
    width: 320px;
  }
  .accordion-visible span {
    font-size: 12px;
  }
}